//////// Form Order Success
.form-order-success {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 150px;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;

    .header-form-order-success{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        margin: 0 auto;
        color: #000000;
        text-transform: uppercase;

    }

    .icon-check-order {
        margin-top: 40px;
    }

    .title-form-order-success {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        margin-top: 13px;
        text-align: center;
        color: #000000;

        .num-order {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            color: #000000;
        }

    }

    .text-order-success {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        margin-top: 23px;
        text-align: center;
        color: #000000;
    }

}

//////// End Form Order Success
