
/*************************************************** BLOCK HARLEY DAVIDSON ************************************************/
.block-harley-davidson {
    background: url('/img/tpl_img/bg_block_harley_davidson.png') center center no-repeat;
    height: 622px;
    border-top: 26px solid #F38000;
    border-bottom: 26px solid #F38000;

    //Logo Harley Davidson
    .logo-harley-davidson {
        margin: 0 auto;
        margin-top: 20px;
        text-align: center;

        .img-harley-davidson {

        }

    }

    //End Logo Harley Davidson


    //Header Harley Davidson
    .header-harley-davidson {
        margin-top: 15px;
        margin-left: 5px;

        h2 {
            font-family: Oswald;
            font-style: normal;
            font-weight: bold;
            font-size: 38px;
            line-height: 56px;
            color: #FFFFFF;

        }
    }

    //End Header Harley Davidson


    //Text Harley Davidson
    .text-harley-davidson {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 32px;
    }


    //Link In Catalog Shop
    .link-shop-catalog {
        background: url('/img/tpl_img/arrow_link_catalog.png') #F38000 92% 50% no-repeat;
        box-shadow: 0px 10px 28.5px rgba(84, 89, 97, 0.29);
        border-radius: 5px;
        display: block;
        width: 252px;
        height: 66px;
        text-decoration: none;
        margin: 0 auto;
        margin-top: 60px;

        .text-shop-catalog {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 800;
            font-size: 16px;
            line-height: 66px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            position: relative;
            right: 12px;
            display: block;
        }

        &:hover {
            text-decoration: none;
        }

    }


}

/*************************************************** END BLOCK HARLEY DAVIDSON ************************************************/
