<div class="row block-boxs-evakuatsiya">
    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">

        <!------------------------------------------ START BOX ITEM ----------------------------------------->
        <div class="block-boxs-evakuatsiya__box-evakuatsiya row box-evakuatsiya box-evakuatsiya1">

            <!------------------ Icon Box item ------------------>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                <div class="box-evakuatsiya__icon-box-item icon-box-item icon-box-item icon-box-item1">
                    <img class="img-fluid icon-box-item__item-icon-img item-icon-img"
                         alt="Эвакуация мототехники по Москве и за пределами МКАД"
                         src="/img/tpl_img/page_evakuatsiya/icons_evakuatsiya/icon1.png">
                </div>
            </div>
            <!------------------ End Icon Box item ------------------>


            <!------------ Name Box Item --------------->
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7">
                <div class="box-evakuatsiya__name-box-item name-box-item">
                    <div class="name-box-item__header-name header-name">москва</div>
                    <div class="name-box-item__list-services list-services">
                        <div class="list-services__name-service name-service">
                            Эвакуация по Москве в пределах МКАД
                        </div>
                        <div class="list-services__name-service name-service">
                            Эвакуация за пределами МКАД
                        </div>
                    </div>
                </div>
            </div>
            <!------------ End Name Box Item --------------->

            <!---------------- Price Box Item ---------------->
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                <div class="box-evakuatsiya__price-box-item price-box-item">

                    <div class="price-box-item__item-price item-price item-price-first">
                        <span class="price-box-item__price price">от 2500</span><span class="price__rubl rubl">p</span>
                    </div>
                    <div class="price-box-item__item-price item-price item-price-last">
                        <span class="price-box-item__price price">
                            2500<span class="price__rubl rubl">p</span>
                            +50<span class="price__rubl rubl">p</span>/1км
                        </span>
                    </div>

                </div>
            </div>
            <!---------------- End Price Box Item ---------------->


        </div>
        <!------------------------------------------ END BOX ITEM ----------------------------------------->


        <!------------------------------------------ START BOX ITEM ----------------------------------------->
        <div class="block-boxs-evakuatsiya__box-evakuatsiya row box-evakuatsiya box-evakuatsiya2">

            <!------------------ Icon Box item ------------------>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                <div class="box-evakuatsiya__icon-box-item icon-box-item icon-box-item2">
                    <img class="img-fluid icon-box-item__item-icon-img item-icon-img"
                         alt="Эвакуация по регионам и странам ЕС"
                         src="/img/tpl_img/page_evakuatsiya/icons_evakuatsiya/icon2.png">
                </div>
            </div>
            <!------------------ End Icon Box item ------------------>


            <!------------ Name Box Item --------------->
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-10 col-10">
                <div class="box-evakuatsiya__name-box-item name-box-item">
                    <div class="name-box-item__header-name header-name">регионы и страны ЕС</div>
                    <div class="name-box-item__desc-name desc-name">Транспортировка мототехники между регионами РФ и в
                        страны ЕС
                    </div>
                </div>
            </div>
            <!------------ End Name Box Item --------------->


        </div>
        <!------------------------------------------ END BOX ITEM ----------------------------------------->


        <!------------------------------------------ START BOX ITEM ----------------------------------------->
        <div class="block-boxs-evakuatsiya__box-evakuatsiya row box-evakuatsiya box-evakuatsiya3">

            <!------------------ Icon Box item ------------------>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                <div class="box-evakuatsiya__icon-box-item icon-box-item icon-box-item3">
                    <img class="img-fluid icon-box-item__item-icon-img item-icon-img" alt="постановка на учет в гибдд"
                         src="/img/tpl_img/page_evakuatsiya/icons_evakuatsiya/icon3.png">
                </div>
            </div>
            <!------------------ End Icon Box item ------------------>


            <!------------ Name Box Item --------------->
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7">
                <div class="box-evakuatsiya__name-box-item name-box-item">
                    <div class="name-box-item__header-name header-name">постановка на учет в гибдд</div>
                    <div class="name-box-item__desc-name desc-name">Постановка на учет транспортного средства как в
                        присутствии владельца так и по доверенности
                    </div>
                </div>
                <div class="box-evakuatsiya__box-list-services-li box-list-services-li">
                    <ul class="box-list-services-li__list-services-li list-services-li">
                        <li class="list-services-li__item-services-li item-services-li">* Включает: эвакуацию на
                            площадку осмотра, подачу и<br>
                            получение документов в ГИБДД.
                        </li>
                        <li class="list-services-li__item-services-li item-services-li">* Данная стоимость не включает в
                            себя госпошлину и страховку.
                        </li>
                    </ul>
                </div>
            </div>
            <!------------ End Name Box Item --------------->

            <!---------------- Price Box Item ---------------->
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                <div class="box-evakuatsiya__price-box-item price-box-item">
                    <div class="price-box-item__item-price item-price">
                        <span class="price-box-item__price price">от 10 000<span class="price__rubl rubl">p</span><span
                            class="price__icon-star-help icon-star-help">*</span></span>

                    </div>
                </div>
            </div>
            <!---------------- End Price Box Item ---------------->


        </div>
        <!------------------------------------------ END BOX ITEM ----------------------------------------->


    </div>


    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
        <div class="block-boxs-evakuatsiya__box-list-img box-list-img">
            <slick-carousel-evacuation></slick-carousel-evacuation>
        </div>
    </div>


</div>
