<h2 class="subtitle">Ориентировочный прайс-лист на ремонт и обслуживание мототехники</h2>
<p class="help-block">Стоимость варьируется в зависимости от модели мотоцикла</p>

<div class="wrapper-table table-responsive wrapper-table-repair">
    <div class="header-table">
        <h3>Ремонт и обслуживание мототехники</h3>
        <a class="link-toggle"></a>
    </div>
    <table class="table table-tariffs table-repair" border="0" cellspacing="0" cellpadding="0">
        <thead class="thead">
        <tr class="thead-tr" style="height: 18px;">
            <th align="center">Тип работ</th>
            <th align="Center">Стоимость <span class="ruble">p</span></th>
            <th align="Center">Примечание</th>
        </tr>
        </thead>
        <tbody class="tbody">
        <tr class="tbody-tr" style="height: 18px;">
            <td>Замена масла</td>
            <td align="Center">1000</td>
            <td align="Center">У нас в наличии только Motul Original</td>
        </tr>
        <tr class="tbody-tr" style="height: 18px;">
            <td align="left">Замена воздушного фильтра</td>
            <td align="Center">500 - 2000</td>
            <td align="Center">&nbsp;</td>
        </tr>
        <tr class="tbody-tr" style="height: 18px;">
            <td>Замена свечей</td>
            <td align="Center">300 - 2000</td>
            <td align="Center">&nbsp;</td>
        </tr>
        <tr class="tbody-tr" style="height: 18px;">
            <td>Замена тормозной жидкости</td>
            <td align="center">500</td>
            <td align="center">1 контур</td>
        </tr>
        <tr class="tbody-tr" style="height: 18px;">
            <td>Замена тормозных колодок</td>
            <td align="center">500</td>
            <td align="center">1 суппорт</td>
        </tr>
        <tr class="tbody-tr" style="height: 18px;">
            <td>Замена антифриза</td>
            <td align="Center">1000 - 1500</td>
            <td align="Center">&nbsp;</td>
        </tr>
        <tr class="tbody-tr" style="height: 18px;">
            <td>Замена сцепления</td>
            <td align="center">1700 - 20000</td>
            <td align="Center">&nbsp;</td>
        </tr>
        <tr class="tbody-tr" style="height: 18px;">
            <td>Замена сальников вилки</td>
            <td align="center">4500 - 5000</td>
            <td align="Center">&nbsp;</td>
        </tr>
        <tr class="tbody-tr" style="height: 18px;">
            <td>Замена подшипников рулевой колонки</td>
            <td align="center">3000 - 8000</td>
            <td align="Center">&nbsp;</td>
        </tr>
        <tr class="tbody-tr" style="height: 18px;">
            <td>Замена подшипников колеса</td>
            <td align="center">500 - 1000</td>
            <td align="Center">1 колесо</td>
        </tr>
        <tr class="tbody-tr" style="height: 18px;">
            <td>Замена подшипников маятника</td>
            <td align="center">от 3000</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="tbody-tr" style="height: 18px;">
            <td>Замена цепи и звезд</td>
            <td align="center">3500 - 4500</td>
            <td align="Center">&nbsp;</td>
        </tr>
        <tr class="tbody-tr" style="height: 18px;">
            <td>Обслуживание цепи чистка смазка подтяжка</td>
            <td align="center">900</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="tbody-tr" style="height: 18px;">
            <td>Замена стартера</td>
            <td align="center">500 - 10000</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="tbody-tr" style="height: 18px;">
            <td>Чистка и синхронизация карбюраторов</td>
            <td align="center">4500 - 6000</td>
            <td align="Center">&nbsp;</td>
        </tr>
        <tr class="tbody-tr" style="height: 18px;">
            <td>Регулировка клапанов</td>
            <td align="center">1000 - 8000</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="tbody-tr" style="height: 18px;">
            <td>Замена выхлопной системы</td>
            <td align="center">3000 - 8000</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="tbody-tr" style="height: 18px;">
            <td>Дефектовка двигателя</td>
            <td align="center">3000</td>
            <td align="Center">&nbsp;</td>
        </tr>
        <tr class="tbody-tr" style="height: 18px;">
            <td>Переборка двигателя</td>
            <td align="center">10000 - 50000</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="tbody-tr" style="height: 18px;">
            <td>Замена проводки</td>
            <td align="center">1000 - 50000</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="tbody-tr" style="height: 18px;">
            <td>Ремонт электрооборудования</td>
            <td align="center">от 1500</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="tbody-tr" style="height: 18px;">
            <td>Компьютерная диагностика&nbsp;(Honda, Suzuki)</td>
            <td align="center">2000</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="tbody-tr" style="height: 18px;">
            <td>Установка сигнализации (любой сложности)</td>
            <td align="Center">3000 - 5000</td>
            <td align="Center">&nbsp;</td>
        </tr>
        <tr class="tbody-tr" style="height: 18px;">
            <td>Покраска</td>
            <td align="center">5000</td>
            <td align="Center">1 деталь</td>
        </tr>
        <tr class="tbody-tr" style="height: 18px;">
            <td>Сварка пластика</td>
            <td align="center">100</td>
            <td align="Center">1 см</td>
        </tr>
        <tr class="tbody-tr" style="height: 18px;">
            <td>Сварка аргоном</td>
            <td align="center">150</td>
            <td align="Center">1 см</td>
        </tr>
        <tr class="tbody-tr" style="height: 18px;">
            <td>Ремонт дисков</td>
            <td align="center">2500 - 5000</td>
            <td align="Center">&nbsp;</td>
        </tr>
        <tr class="tbody-tr" style="height: 18px;">
            <td>Перетяжка сидений</td>
            <td align="Center">цена договорная</td>
            <td align="Center">&nbsp;</td>
        </tr>
        <tr class="tbody-tr" style="height: 18px;">
            <td>Тюниинг (любой сложности)</td>
            <td align="Center">цена договорная</td>
            <td align="Center">&nbsp;</td>
        </tr>
        <tr class="tbody-tr" style="height: 36px;">
            <td>Заказ деталей тюнинга оригинальных и неоригинальных расходников</td>
            <td align="Center">цена договорная</td>
            <td align="Center">&nbsp;</td>
        </tr>
        </tbody>
    </table>
</div>



<div class="wrapper-table table-responsive wrapper-table-washing">
    <div class="header-table">
        <h3>Мойка и шиномонтаж</h3>
        <a class="link-toggle"></a>
    </div>
    <table class="table table-tariffs table-washing" border="0" cellspacing="0" cellpadding="0">
        <thead class="thead">
        <tr class="thead-tr" style="height: 18px;">
            <th align="center">Тип работ</th>
            <th align="Center">Стоимость <span class="ruble">p</span></th>
            <th align="Center">Примечание</th>
        </tr>
        </thead>
        <tbody class="tbody">
        <tr class="tbody-tr" style="height: 18px;">
            <td>Мойка мотоцикла</td>
            <td align="Center">от 350</td>
            <td align="Center"></td>
        </tr>
        <tr class="tbody-tr" style="height: 18px;">
            <td align="left">Шиномонтаж бескамерного колеса</td>
            <td align="Center">2000</td>
            <td align="Center">1 колесо</td>
        </tr>
        <tr class="tbody-tr" style="height: 18px;">
            <td>Шиномонтаж колеса с камерой</td>
            <td align="Center">2500</td>
            <td align="Center">1 колесо</td>
        </tr>
        </tbody>
    </table>
</div>




<div class="wrapper-table table-responsive wrapper-table-storage">
    <div class="header-table">
        <h3>Хранение мотоциклов и эвакуация</h3>
        <a class="link-toggle"></a>
    </div>
    <table class="table table-tariffs table-storage" border="0" cellspacing="0" cellpadding="0">
        <thead class="thead">
        <tr class="thead-tr" style="height: 18px;">
            <th align="center">Тип работ</th>
            <th align="Center">Стоимость <span class="ruble">p</span></th>
            <th align="Center">Примечание</th>
        </tr>
        </thead>
        <tbody class="tbody">
        <tr class="tbody-tr" style="height: 18px;">
            <td>VIP хранение (Клуб)</td>
            <td align="Center">4000</td>
            <td align="Center">за 1 мес. за единицу техники. (шкафчик и бесплатная мойка)</td>
        </tr>
        <tr class="tbody-tr" style="height: 18px;">
            <td align="left">Standart (спорт байк, классический мотоцикл)</td>
            <td align="Center">1500</td>
            <td align="Center">за 1 мес. за единицу техники</td>
        </tr>
        <tr class="tbody-tr" style="height: 18px;">
            <td>Standart (чопперы, эндуро, спорттуристы и максискутеры)</td>
            <td align="Center">2000</td>
            <td align="Center">за 1 мес. за единицу техники</td>
        </tr>
        <tr class="tbody-tr" style="height: 18px;">
            <td>Мотоэвакуация (VW Crafter, Dodge RAM)</td>
            <td align="Center">2500</td>
            <td align="Center">в пределах МКАД (область и другие города цена договорная)</td>
        </tr>
        </tbody>
    </table>
</div>







