<div class="row box-gallery box-gallery-1">

    <!------------------------ BLOCK SLICK CAROUSEL ------------------------->
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 block-images-gallery">

        <div class="row">

            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12 block-images-gallery__box-list-img box-list-img">
                <div class="nav-arrows"></div>
                <slick-carousel-page-our-work></slick-carousel-page-our-work>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-2 box-list-thumbnails-img">
                <slick-carousel-page-our-work-thumbnails></slick-carousel-page-our-work-thumbnails>
            </div>

        </div>


    </div>
    <!------------------------ END BLOCK SLICK CAROUSEL ------------------------->


    <!------------------------ BLOCK DESCRIPTION GALLERY ------------------------->
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 block-description-gallery">
        <h3 class="block-description-gallery__title-gallery title-gallery">Заголовок проекта</h3>

        <div class="block-description-gallery__text-gallery text-gallery">
            <p>
                Описание работ. Наш мотосервис в Москве рад предложить Вам полный спектр услуг по
                ремонту и обслуживанию мотоциклов, ATV, снегоходов.
            </p>
            <p>
                Квалифицированные мастера нашего сервиса сделают все необходимое для того, чтобы ваш
                железный конь был в превосходном техническом состоянии. 
            </p>
        </div>

        <div class="block-description-gallery__block-view-readmore block-view-readmore">

            <a class="block-view-readmore__link-readmore link-readmore" href="">тюнинг</a>

            <div class="block-view-readmore__date-publish-gallery date-publish-gallery">12/04/2020
            </div>
        </div>


    </div>
    <!------------------------ END BLOCK DESCRIPTION GALLERY ------------------------->

</div>
