/////// Вывод списка товара в конкретном каталоге
.block-list-products.block-list-products-in-catalog {
    padding-bottom: 40px;
    .title-list-products {
        position: relative;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        text-transform: uppercase;

        &:after {
            background: url('/img/tpl_img/mobile/shop/star_mobile.png') no-repeat;
            width: 16px;
            height: 14px;
            top: 0px;
            right: -24px;
        }
    }


    .wrapper-row-list-products {

        .row-list-products {
            margin-top: 20px;

            &:not(:first-child) {
                margin-top: 15px;
            }

            ////////// BOX PRODUCT
            .wrapper-box-product {

                .box-product {
                    width: 100%;
                    position: relative;

                    ////// Block Img Product
                    .block-img-product {
                        min-height: 110px;

                        .link-product {
                            height: 115px;
                            min-height: 110px;

                            .img-product {
                                max-height: 105px;
                                min-width: auto;
                            }
                        }


                        .img-empty {

                        }
                    }

                    ////// End Block Img Product

                    ////// Link Title Product
                    .link-title-product {
                        font-size: 10px;
                        line-height: 12px;
                        margin-top: 3px;
                        padding-left: 12px;
                        padding-right: 12px;
                        height: 36px;
                        min-height: 60px;
                    }

                    ////// End Link Title Product


                    .title-not-available{
                        font-size: 10px;
                        line-height: 12px;
                    }

                    ////// Block Price Product
                    .block-price-product {
                        margin-top: 0px;
                        padding-left: 12px;

                        .price-product {
                            font-size: 14px;
                            line-height: 17px;
                        }

                        .ruble {
                            font-size: 14px;
                            line-height: 17px;
                        }
                    }

                    ////// End Block Price Product

                    //////////// Button Add To Cart
                    .bt-add-to-cart {
                        background: url(/img/tpl_img/mobile/shop/icon_cart_mobile.png) #F38000 88% 40% no-repeat;
                        height: 28.66px;
                        position: relative;
                        margin-top: 0px;
                        line-height: initial;


                        &:before{
                            display: none;
                        }

                        .text-button {
                            font-size: 14px;
                            right: 10px;
                            top: 0px;
                        }
                    }

                    //////////// End Button Add To Cart

                }

            }

            ////////// END BOX PRODUCT


        }

        ////////////////// Pagination
        @import "resources/sass/mobile/product/layouts/pagination";
        ////////////////// End Pagination


    }

}

/////// КОНЕЦ Вывод списка товара в конкретном каталоге
