//////////////////////// Block Spare Parts Order
.block-shop-spare-parts-order {
    background: url('/img/tpl_img/img_shop/bg_parts_order.png') center center no-repeat;
    height: 598px;
    background-size: cover;
    margin-top: 57px;

    /////// Left Block Spare Parts
    .left-block-spare-parts {
        padding-top: 105px;


        .title-left-block-spare-parts {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 800;
            font-size: 86px;
            line-height: 107px;
            letter-spacing: -0.21px;
            text-transform: uppercase;
            color: #FFFFFF;
        }

        .text-block-spare-parts {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 19px;
            line-height: 23px;
            color: #FFFFFF;
            margin-top: 22px;
        }

    }

    /////// End Left Block Spare Parts


    /////// Right Block Spare Parts
    .right-block-spare-parts {
        padding-top: 127px;
    }

    /////// End Right Block Spare Parts

}

//////////////////////// End Block Spare Parts Order
