
/*************************************************** BLOCK SHOP CATALOGS ************************************************/
.block-shop-catalogs {
    background: url('/img/tpl_img/bg_block_catalogs.jpg') center center no-repeat;
    height: 670px;
    background-size: cover;
    .header-block-shop-catalogs {

        margin-left: 4px;
        padding-top: 82px;

        h2 {
            position: relative;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 800;
            font-size: 40px;
            line-height: 49px;
            color: #fff;
            width: max-content;

            &:after {
                display: block;
                content: "";
                position: absolute;
                background: url('/img/tpl_img/h_star.png') no-repeat;
                width: 24px;
                height: 22px;
                top: 15px;
                right: -42px;
            }


        }

        //Text Shop Catalogs
        .text-block-shop-catalogs {
            margin-top: 18px;
            margin-left: 3px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 24px;
            color: #FFFFFF;

        }

        //End Text Shop Catalogs


    }


    //////////////// LIST CATALOGS
    .list-catalogs {
        margin-top: 30px;

        //Box Catalog
        .box-catalog {
            width: 262px;
            height: 296.51px;
            overflow: hidden;
            -webkit-transition: width 0.3s, height 0.3s, background-color 0.3s, -webkit-transform 0.3s;
            transition: width 0.3s, height 0.3s, background-color 0.3s, transform 0.3s;


            ////////////// Hover Box Catalog
            &:hover{
                z-index: 100;
                transform: scale(1.2);

                ////// Block Img Catalog
                .block-img-catalog{
                    figure{
                        .img-catalog{

                        }
                    }


                    .name-catalog{
                        bottom: 40px;
                        color: #F38000;
                        &:after {
                            width: 100%;
                        }
                    }

                }
                ////// End Block Img Catalog


            }
            ////////////// End Hover Box Catalog




            .block-img-catalog {
                position: relative;
                display: block;
                text-decoration: none;
                overflow: hidden;

                /***************** FIGURE IMAGES ****************/
                figure {
                    position: relative;
                    width: 262px;
                    height: 296.51px;
                    margin: 0;
                    padding: 0;
                    overflow: hidden;
                    border: 2px inset #DADADA;

                    .img-catalog {
                        -webkit-transform: scale(1);
                        transform: scale(1);
                        -webkit-transition: .3s ease-in-out;
                        transition: .3s ease-in-out;
                    }
                }

                /***************** END FIGURE IMAGES ****************/

                .name-catalog {
                    position: absolute;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 800;
                    font-size: 22px;
                    line-height: 27px;
                    text-align: center;
                    margin: 0 auto;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    bottom: 20px;
                    width: max-content;
                    right: 0;
                    left: 0;
                    transition: bottom 0.3s linear, color 0.5s linear;

                    &:after {
                        content: "";
                        transition: 0.2s all ease;
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                        position: absolute;
                        left: 50%;
                        height: 2px;
                        width: 0;
                        bottom: 0px;
                        -ms-transform: translateX(-50%);
                        -webkit-transform: translateX(-50%);
                        transform: translateX(-50%);
                        background-color: #F38000;
                    }



                }

            }

        }

        //End Box Catalog
    }

    //////////////// END LIST CATALOGS

    //Link All Catalogs
    .link-view-shop {
        width: 282px;
        height: 66px;
        background: url('/img/tpl_img/arrow_link_catalog.png') #F38000 88% 50% no-repeat;
        display: block;
        box-shadow: 0px 10px 28.5px rgba(84, 89, 97, 0.29);
        border-radius: 5px;
        text-decoration: none;
        margin: 0 auto;
        text-align: center;
        margin-top: 53px;
        transition: all 500ms ease;

        &:hover {
            background-position: 92% 50%;
            text-decoration: none;

            .text-link{
                color: #f1ddc7;
            }
        }

        .text-link {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 800;
            font-size: 16px;
            line-height: 66px;
            text-transform: uppercase;
            text-align: center;
            margin: 0 auto;
            position: relative;
            display: block;
            right: 12px;
            color: #FFFFFF;


        }

    }

    //End Link All Catalogs

}

/*************************************************** END BLOCK SHOP CATALOGS ************************************************/
