
/*************************************************** BLOCK COMPANY ************************************************/
.block-company {
    background: url('/img/tpl_img/bg_block_company.jpg') center center no-repeat;
    background-size: cover;
    height: 660px;
    padding-top: 64px;
    /***** Header Block Company *****/
    .header-block-company {
        width: max-content;
        margin-left: 8px;

        h2 {
            position: relative;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 800;
            font-size: 40px;
            line-height: 49px;
            color: #fff;


            &:after {
                display: block;
                content: "";
                position: absolute;
                background: url('/img/tpl_img/h_star.png') no-repeat;
                width: 24px;
                height: 22px;
                top: 15px;
                right: -42px;
            }
        }
    }

    /***** End Header Block Company *****/


    /************ Block Description Video *************/
    .block-description-company {

        .leftblock-video {
            margin-left: 7px;
            margin-top: 7px;

        }

        .rightblock-text-company {
            margin-left: 7px;
            //Header Text Company
            .header-text-company {
                h3 {
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 39px;
                    line-height: 46px;
                    color: #FFFFFF;
                }
            }

            //Text Company
            .text-company {
                margin-top: 27px;
                position: relative;
                right: 7px;

                .text-top {

                }

                .text-middle {

                }

                .text-bottom {

                }


                p {

                    &:not(:first-child) {
                        margin-top: 25px;
                    }

                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 24px;
                    color: #FFFFFF;
                }

            }

            //End Text Company


        }

    }

    /************ End Block Description Video *************/


}


/*************************************************** END BLOCK COMPANY ************************************************/
