//////////////////////////////////////////////////////////////// СТРАНИЦА ЭВАКУАЦИЯ
.description-page.description-page-evakuatsiya {

    p{

    }


    .link-phone{
        display: none;
    }

}

/////HTML PAGE ЭВАКУАЦИЯ
.html-page.html-page-evakuatsiya {

    //////////////// html page bottom text
    .html-page-bottom-text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 14px;
        text-align: center;
        letter-spacing: -0.21px;
        color: #141414;
        margin-top: 20px;
    }
    //////////////// end html page bottom text




    .block-boxs-evakuatsiya{
        margin-top: 27px;


        ////////////// BOX LIST IMAGES
        .box-list-img{
            margin-top: 13px;

            .item-img{

            }


        }
        ////////////// END BOX LIST IMAGES


        ////////////// list box mototeknika
        .box-evakuatsiya2{
            margin-top: 50px;
        }
        .box-evakuatsiya.box-evakuatsiya3{
            margin-top: 30px;

            .price-box-item{
                width: 80px;
                left: 15px;
                margin-top: 4px;
                .item-price{


                    .price{

                    }

                    .rubl{

                    }

                    .icon-star-help{

                    }
                }


            }


        }
        ////////////// end list box mototeknika




        /////// BOX EVAKUATSIYA
        .box-evakuatsiya{

            &:first-child{
                margin-top: 0px;
            }

            &:not(:first-child){

            }

            ////////// BOX LIST SERVICES
            .box-list-services-li{
                position: relative;
                right: 17px;
                .list-services-li{
                    padding-left: 0px;

                    .item-services-li {
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 14px;
                        &:not(:first-child){
                            margin-top: 2px;
                        }

                    }

                }

            }
            ////////// END BOX LIST SERVICES


            ////////icons box item
            .icon-box-item{
                bottom: 0px;
                top: 10px;
                left: 0px;

            }
            .icon-box-item.icon-box-item2{
                bottom: 0px;
                left: 0px;
                top: -10px;
            }
            .icon-box-item.icon-box-item3{
                bottom: 0px;
                top: 0px;
            }
            ////////end icons box item




            //////// name box item
            .name-box-item{
                margin-left: 0px;
                position: relative;
                right: 16px;
                width: 200px;


                //////// LIST SERVICES
                .list-services{

                    .name-service {
                        font-family: Open Sans;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 10px;
                        line-height: 14px;
                        color: #141414;
                        position: relative;
                        bottom: 0px;


                        &:not(:first-child){
                            margin-top: 2px;
                        }

                    }
                }
                //////// END LIST SERVICES



                .header-name{
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: 800;
                    font-size: 16px;
                    color: #141414;
                    line-height: 18px;
                }
                .desc-name{
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 14px;
                    color: #141414;
                    position: relative;
                    bottom: 0px;
                }

            }
            //////// end name box item


            //////////// price box item
            .price-box-item{
                left: -10px;
                margin-top: 14px;


                .item-price.item-price-first{
                    text-align: right;
                }
                .item-price.item-price-last{

                    .price{
                        display: block;
                        width: 85px;
                    }

                }



                .item-price{

                    &:not(:first-child){
                        margin-top: -4px;
                    }

                    .price{
                        font-family: Open Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 10px;
                        color: #141414;
                    }

                    .rubl{
                        font-size: 10px;
                    }

                }

            } 
            //////////// end  price box item



        }
        /////// END BOX EVAKUATSIYA




    }

}
/////КОНЕЦ HTML PAGE ЭВАКУАЦИЯ

////////////////////////////////////////////////////////////////////////// КОНЕЦ СТРАНИЦА ЭВАКУАЦИЯ