<products columns=5>
    <template slot="titleProducts" slot-scope="props">
        <h2 class="block-list-products__title-list-products title-list-products">новинки</h2>
    </template>
</products>
<div class="block-shop-cover-product block-shop-motul">

    <div class="container">

        <div class="block-shop-cover-product__box-shop-cover-products d-flex align-items-center box-shop-cover-products box-shop-motul">


            <div class="box-shop-cover-products__wrapper-description-cover-products wrapper-description-cover-products">
                <h3 class="box-shop-cover-products__title-box-shop-cover-products  title-box-shop-cover-products title-box-shop-motul">
                    мотохимия</h3>

                <ul class="block-shop-cover-product__list-type-products list-type-products">
                    <li class="list-type-products__item-type-products item-type-products item-type-products-new">
                        <a class="item-type-products__link-type-products link-type-products" href="">новинки</a>
                    </li>
                    <li class="list-type-products__item-type-products item-type-products item-type-products-sale">
                        <a class="item-type-products__link-type-products link-type-products" href="">распродажа</a>
                    </li>
                    <li class="list-type-products__item-type-products item-type-products item-type-products-all">
                        <a class="item-type-products__link-type-products link-type-products" href="">все товары</a>
                    </li>
                </ul>
            </div>

        </div>

    </div>


</div>
